/* Crowd Mobile */

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

section, div, header, footer {
	box-sizing:border-box;
    -moz-box-sizing:border-box; 
}

body {
	font: 1.1em 'Quicksand', sans-serif;
	font-weight: 700;
	color: #d9dadb;
	list-style: none;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(40, 43, 50, 0.3);
	font-size: .800em;
	border-radius: 50px;
	padding: 1em;
	display: none;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.go-top:hover {
	background-color: rgb(40, 43, 50);
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.9em;
	margin: 20px;
}

h3 {
	font-size: 1.5em;
	margin: 0 0 80px 0;
	color: #c0c2c4;
}

header {
   width: 100%;
   padding: 20px 50px;
   background-color: #282b32;
}

.logo {
	background: transparent url(../img/logo.png) center no-repeat;
	padding: 20px 38px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
	opacity: .5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

header p {
    display: inline-block;
    margin-left: 20px;
}

nav {
    float: right;
    margin-top: 5px;
}

.facebook {
	background: transparent url(../img/facebook.png) no-repeat center;
	padding: 30px 25px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.facebook:hover {
	background-color: #c1213a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.twitter {
	background: transparent url(../img/twitter.png) no-repeat center;
	padding: 30px 25px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.twitter:hover {
	background-color: #c1213a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.googleplus {
	background: transparent url(../img/googleplus.png) no-repeat center;
	padding: 30px 25px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.googleplus:hover {
	background-color: #c1213a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.mail {
	background: transparent url(../img/contact.png) no-repeat center;
	padding: 30px 25px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.mail:hover {
	background-color: #c1213a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.map {
	background: transparent url(../img/map.png) no-repeat center;
	padding: 30px 25px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.map:hover {
	background-color: #c1213a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

section {
	text-align: center;
}

/* SLIDER */

.client-fix {
	position: relative;
	left: 380px;
	top: 180px;
	width: 500px;
	text-align: center;
}

.preview-client {
	position: relative;
	left: 380px;
	top: 220px;
	width: 500px;
	text-align: center;
}

.preview {
	position: relative;
	text-align: center;
	top: 160px;
	left: 680px;
	width: 350px;
}

.preview img {
	display: inline-block;
}

.divisor {
	margin: 50px 0 20px 0;
}

.about {
	margin-bottom: 30px;
	font-size: 1.3em;
}

.download {
	padding: 15px 30px;
	border-radius: 30px;
	background-color: black;
}

.slides a:hover {
	opacity: .7;
}

.title {
	font-size: 2.7em;
	margin-bottom: 20px;
}

.disabled {
	opacity: .3;
}

#gnc {
	background: #0f4b6a url(../img/slider/gnc.png) center no-repeat; 
	color: white;
	font-size: .800em;
}

#pdg {
	background: #0f4b6a url(../img/slider/pdg.png) center no-repeat; 
	color: white;
}

#rica {
	background: #0f4b6a url(../img/slider/rica.png) center no-repeat; 
	color: white;
}

#sergiocastro {
	background: #0f4b6a url(../img/slider/sergiocastro.png) center no-repeat; 
	color: black;
	font-size: .800em;
}

#sameway {
	background: #0f4b6a url(../img/slider/sameway.png) center no-repeat; 
	color: white;
}

#doforno {
	background: #f4ba26 url(../img/slider/doforno.png) center no-repeat; 
	color: white;
}

#kloro {
	background: #e74b3c url(../img/slider/kloro.png) center no-repeat; 
	color: white;
}

#appmidia {
	background: #a29365 url(../img/slider/appmidia.png) center no-repeat; 
	color: white;
}

#vira {
	background: #a29365 url(../img/slider/vira.png) center no-repeat; 
	color: white;
}

#furnas {
	background: #a29365 url(../img/slider/furnas.png) center no-repeat; 
	color: #1671a4;
}

#meusonze {
	background: #a29365 url(../img/slider/meusonze.png) center no-repeat; 
	color: white;
}


/* END OF SLIDER */

.main {
	padding: 50px;
}

.main h1, .main h2 {
	font-size: 1.5em;
	margin: 0 0 15px;
	color: #c0c2c4;
}

.next {
	background: transparent url(../img/down.png) no-repeat center;
	opacity: .3;
	padding: 30px;
}

.next:hover {
	opacity: .5;
}

.clients .next {
	display: block;
}

/* Content */

.button {
	padding: 20px 40px;
	font-size: 1em;
	border-radius: 50px;
}

.info {
	padding: 120px;
	color: white;
}

.info p {
	margin: 0 160px 60px 160px;
	text-align: justify;
}

#mobile {
	background-color: #1bbc9b;
}

#mobile .button{
	background-color: #169379;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#mobile .button:hover{
	color: #1bbc9b;
	background-color: white;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#mobile img {
	width: 200px;
	height: 168px;
	margin: 20px;
}

#web {
	background-color: #25577a;
}

#web .button{
	background-color: #1c415b;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#web .button:hover{
	background-color: white;
	color: #25577a;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#web img {
	width: 300px;
	height: 193px;
	margin: 20px;
}

#socialmedia {
	background: #2b89c6;
}

#socialmedia .button {
	background-color: #236e9f;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#socialmedia .button:hover {
	background-color: white;
	color: #2b89c6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#socialmedia img {
	width: 140px;
	height: 140px;
	margin: 20px;
}

/* End of content */

/* Clients */

.clients {
	padding: 100px;
	background-color: #edf0f3;
}

.clients img {
	padding: 10px 20px;
	margin: 10px;
	border: 4px solid white;
	border-radius: 20px;
	background-color: #f2f5f8;
}

.clients a:hover {
	opacity: .6;
}

/* End of Clients */

/* Crowd Lab */

.crowdlab {
	background-color: #282b32;
	padding: 200px;
}

.crowdlab p {
	margin: 0 60px 60px 60px;
}

.crowdlab h3 {
	margin: 30px;
	font-size: 2em;
}

.idea {
	padding: 30px 40px;
	border-radius: 50px;
	background-color: #202227;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.idea:hover {
	background-color: #d1173c;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* End of Crowd Lab */

footer {
	background-color: #444a59;
	text-align: center;
	padding: 150px;
}

footer p {
	margin: 30px;
	font-size: 1.5em;
}

footer h3 {
	margin: 10px 0 20px 0;
	color: white;
	font-size: 1.6em;
}

.fmail {
	padding: 10px;
	border-radius: 10px;
	background-color: #393e4a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.fmail:hover {
	background-color: #282b32;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

footer li {
	display: inline-block;
	margin: 20px 0;
}

.f-footer {
	background: transparent url(../img/facebook.png) center no-repeat;
	padding: 16px 27px;
	border-radius: 30px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.f-footer:hover {
	background-color: #282b32;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.t-footer {
	background: transparent url(../img/twitter.png) center no-repeat;
	padding: 16px 27px;
	border-radius: 30px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.t-footer:hover {
	background-color: #282b32;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.g-footer {
	background: transparent url(../img/googleplus.png) center no-repeat;
	padding: 16px 27px;
	border-radius: 30px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.g-footer:hover {
	background-color: #282b32;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.m-footer {
	background: transparent url(../img/map.png) center no-repeat;
	padding: 16px 27px;
	border-radius: 30px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.m-footer:hover {
	background-color: #282b32;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.copyright {
	padding: 20px;
	background-color: #393e4a;
	text-align: center;
}



/* iPad & Tablets */

@media screen and (max-width: 768px) {

.client-fix {
	position: relative;
	left: 120px;
	top: 180px;
	width: 500px;
	text-align: center;
}

.preview-client {
	position: relative;
	left: 120px;
	top: 220px;
	width: 500px;
	text-align: center;
}

.preview {
	position: relative;
	text-align: right;
	top: 180px;
	left: 390px;
	width: 320px;
	font-size: .900em;
}

.flex-direction-nav {
	display: none;
}

.info p {
	margin: 0 30px 60px 30px;
	text-align: justify;
}

.crowdlab p {
	margin: 30px 0 60px 0;
}

.crowdlab h3 {
	margin: 20px 0;
	font-size: 1.3em;
}

.next {
	display: none;
	visibility: hidden;
}

#kloro {
	display: none;
}

.go-top {
	visibility: hidden;
}

.crowdlab {
	background-color: #282b32;
	padding: 150px;
}

}

/* iPhone & Smartphones */

@media screen and (max-width: 480px) {

header {
	text-align: center;
}

.flexslider {
	display: none;
}

header a, header p {
     display: block;
}
nav {
   display: none;
}

.main {
	padding: 30px 15px;
	font-size: .700em;
}

.main h1, .main h2 {
	margin: 0;
}

.next {
	display: none;
}

.info {
	display: none;
}

.go-top {
	visibility: hidden;
}

.clients {
	padding: 100px 60px;
	font-size: .800em;
}

#crowdlab {
	display: none;
}

footer {
	padding: 100px 0;
}

}





